<!doctype html>
<html>
<title>UUT Status</title>
<header>
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
</header>
<style>
  th, td {
    text-align: left;
  }
  tr:nth-child(even) {background-color: lightgray;}  
  footer {
    padding: 3px;
    font-size: 10px;
  }
  /* Sortable tables */
  table.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
  }
  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
  }
</style>
<body>
<p>Test Station Listing</p>

<table class="sortable">
  <tr><th>Serial number</th><th>Eth0</th><th>Eth0 IP</th><th>RM Mac</th><th>RM IP</th></tr>
  {% for r in uuts %}
  <tr>
    <td><a href="http://192.168.66.95:5000/query/{{ r['mlbsn'] }}">{{ r['mlbsn'] }}</a></td>
    <td>{{ r.str_to_mac(r['eth0']) }}</td>
    <td>{{ ts.getLeaseIp(r['eth0']) }}</td>
    <td>{{ r.str_to_mac(r['rack_mount_mac1']) }}</td>
    <td>{{ ts.getLeaseIp(r['rack_mount_mac1']) }}</td>
  </tr>
  {% endfor %}
</table>
</table>

</body>

<hr class="solid">
<footer>
  <p>Project source, issue report, comments please go to <a href="https://github.com/doublechiang/UUT_Status">https://github.com/doublechiang/UUT_Status</a></p></p>
</footer>
</html>

