{% extends 'base.html' %}

{% block content %}
{% block title %} Test Station Listing {% endblock %}<br/><br/>
<table class="sortable">
  <tr><th>Serial number</th><th>Eth0</th><th>Eth0 IP</th><th>RM Mac</th><th>RM IP</th></tr>
  {% for r in uuts %}
  <tr>
    <td><a href="http://192.168.66.95:5000/query/{{ r['mlbsn'] }}">{{ r['mlbsn'] }}</a></td>
    <td>{{ ts.to_macstr(r['eth0']) }}</td>
    <td>{{ ts.getLeaseIp(r['eth0']) }}</td>
    <td>{{ ts.to_macstr(r['rack_mount_mac1']) }}</td>
    <td>{{ ts.getLeaseIp(r['rack_mount_mac1']) }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

