{% extends 'base.html' %}

{% block content %}
{% block title %} UUTs Listing {% endblock %}<br/><br/>
<table class="sortable">
  <tr><th>Serrial number</th><th>Eth0 IP</th><th>RM IP</th><th>Rack SN</th><th>Loc</th><th>TS</th></tr>
  {% for r in uuts %}
  <tr>
    <td><a href="http://192.168.66.95:5000/query/{{ r['mlbsn'] }}">{{ r['mlbsn'] }}</a></td>
    <td>{{ r.ts.getLeaseIp(r.eth0) }}</td>
    <td>{{ r.ts.getLeaseIp(r.rack_mount_mac1) }}</td>
    <td>{{ r.racksn }}</td>
    <td>{{ r.location }}</td>
    <td>{{ r.ts.hostn }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

