{% extends 'base.html' %}



{% block content %}

{% if current_user %}
Hi {{ current_user }}
{% endif %}

<br/>

{% block title %} UUTs Info {% endblock %}


<form action={{ url_for('uut_main') }} method="post">
  <label>Serial Number:</label>
    <input type="text" name="sn"></input>
    <input type="submit" value="Search"></input><br/>
    <input type="hidden" name='token' value={{token}}>
  </form>
<br/>
<br/>

<table class="sortable">
  <tr><th>Chassis SN</th><th>SN</th><th>MBSN</th><th>Eth0 MAC</th><th>Eth0 IP</th><th>BMC MAC</th><th>RM MAC</th><th>RM IP</th><th>Rack SN</th><th>Loc</th><th>TS</th><th>RDP Tunnel</th></tr>
  {% for r in uuts %}
  <tr>
    <td>{{ r.chassissn }}</td>
    <td>{{ r.csn }}</td>
    <td>{{ r.mlbsn }} </td>
    <td>{{ r.to_macstr(r.eth0) }}</td>
    <td>
      <form style="display: none" action={{ r.settings.webssh['host'] }} method="get" enctype="multipart/form-data" novalidate>
        <button type="submit" formtarget="_blank" id="{{ r.mlbsn }}_inband"> 
        <input name='hostname' value={{r.ts.getHost()}}>
        <input name='username' value={{r.ts.getHostLogin()}}>
        <input name='password' value={{r.ts.getHostPassBase64()}}>
        <input name='encoding' value='utf-8'>
        <input name="command" value={{ r.getEncodeInbandSshCmd() }}>
        <input type="hidden" name='token' value={{token}}>
        </button>
      </form>
      <label style="text-decoration: underline" for={{r.mlbsn}}_inband>{{ r.ts.getLeaseIp(r.eth0) }}</label>
      </td>
    <td>{{ r.to_macstr(r.bmcmac) }}</td>
    <td>{{ r.to_macstr(r.rack_mount_mac1) }}</td>
    <td>
      <form style="display: none" action={{ r.settings.webssh['host'] }} method="get" enctype="multipart/form-data" novalidate>
        <button type="submit" formtarget="_blank" id="{{ r.mlbsn }}_outband"> 
          <input name='hostname' value={{r.ts.getHost()}}>
          <input name='username' value={{r.ts.getHostLogin()}}>
          <input name='password' value={{r.ts.getHostPassBase64()}}>
          <input name="command" value={{ r.getEncodeOutbandSshCmd() }}>
        </button>
      </form>
      <label style="text-decoration: underline" for={{r.mlbsn}}_outband>{{ r.ts.getLeaseIp(r.rack_mount_mac1) }}</label>
      </td>
    <td>{{ r.racksn }}</td>
    <td>{{ r.location }}</td>
    <td>
      <form style="display: none" action={{ r.settings.webssh['host'] }} method="get" enctype="multipart/form-data" novalidate>
        <button type="submit" formtarget="_blank" id="{{ r.mlbsn }}_ts"> 
          <input name='hostname' value={{r.ts.getHost()}}>
          <input name='username' value={{r.ts.getHostLogin()}}>
          <input name='password' value={{r.ts.getHostPassBase64()}}>
        </button>
      </form>
      <label style="text-decoration: underline" for={{r.mlbsn}}_ts>{{ r.ts.getHost() }}</label>
    </td>
    <td>
      <form style="display: none" action={{ url_for('create_tunnel') }} method="get" enctype="multipart/form-data" novalidate>
        <button type="submit" formtarget="_blank" id="{{ r.mlbsn }}_rdp"> 
          <input name='target' value={{ r.ts.getLeaseIp(r.eth0) }}>
          <input name='ts' value={{ r.ts.getHost() }}>
        </button>
      </form>
      <label style="text-decoration: underline" for={{r.mlbsn}}_rdp>RDP Tunnel</label>

    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

